@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color:    #06080D  ;
}
.gradient-bg {
    background: linear-gradient(
      81.02deg,
      #fa5560 -23.47%,
      #b14bf4 45.52%,
      #4d91ff 114.8%
    );
  }
  .gradient-text {
    background: linear-gradient(
      81.02deg,
      #fa5560 -23.47%,
      #b14bf4 45.52%,
      #4d91ff 114.8%
    );
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
  }
 

  .notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1000;
    animation: fadeInOut 3s ease-out;
  }
  
  .notification.error {
    background-color: #f44336;
  }
  .glow-animation {
    animation: glow 1.5s infinite;
  }
  
  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 10px rgba(72, 199, 116, 0.8);
    }
    50% {
      box-shadow: 0 0 20px rgba(72, 199, 116, 1);
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
    20% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    80% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
  }
  
  @media (max-width: 768px) {
    .notification {
      width: 85%;  
      left: 150px; 
      transform: translateX(0);  
      border-radius: 0;  
    }
  }
  