@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color:    #06080D  ;
}
.gradient-bg {
    background: linear-gradient(
      81.02deg,
      #fa5560 -23.47%,
      #b14bf4 45.52%,
      #4d91ff 114.8%
    );
  }
  .gradient-text {
    background: linear-gradient(
      81.02deg,
      #fa5560 -23.47%,
      #b14bf4 45.52%,
      #4d91ff 114.8%
    );
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
  }
  /* Add the following CSS to your styles.css or in the global stylesheet */

.marquee-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee div {
  flex-shrink: 0;
  padding-right: 20px; /* Space between items */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
